<section id="process" class="section-content bg3">
<div class="container">
	<div class="row">
		<!-- Section title -->
		<div class="section-title item_bottom text-center">
			<div>
				<span class="fa fa-cogs fa-2x"></span>
			</div>
			<h1 class="white">Our <span>Process</span></h1>
		</div>
		<!-- End Section title -->
		<ol class="process-flow list-unstyled">
			<li class="active">
			<div class="process-node active">
				<i class="fa fa-comments"></i>
			</div>
			<h4>Discussion</h4>
			<p>
				 Lorem Ipsum lorem Ipsum. Proin gravida nibh vel velit auctor aliquet.
			</p>
			<div class="line">
				<div class="progress">
				</div>
			</div>
			</li>
			<li class="active">
			<div class="process-node active">
				<i class="fa fa-lightbulb-o"></i>
			</div>
			<h4>Idea</h4>
			<p>
				 Lorem Ipsum lorem Ipsum. Proin gravida nibh vel velit auctor aliquet.
			</p>
			<div class="line">
				<div class="progress">
				</div>
			</div>
			</li>
			<li class="active">
			<div class="process-node active">
				<i class="fa fa-desktop"></i>
			</div>
			<h4>Implementation</h4>
			<p>
				 Lorem Ipsum lorem Ipsum. Proin gravida nibh vel velit auctor aliquet.
			</p>
			<div class="line">
				<div class="progress">
				</div>
			</div>
			</li>
			<li class="active">
			<div class="process-node active">
				<i class="fa fa-flash"></i>
			</div>
			<h4>Review</h4>
			<p>
				 Lorem Ipsum lorem Ipsum. Proin gravida nibh vel velit auctor aliquet.
			</p>
			<div class="line">
				<div class="progress">
				</div>
			</div>
			</li>
			<li class="active">
			<div class="process-node active">
				<i class="fa fa-rocket"></i>
			</div>
			<h4>Deliver</h4>
			<p>
				 Lorem Ipsum lorem Ipsum. Proin gravida nibh vel velit auctor aliquet.
			</p>
			</li>
		</ol>
	</div>
</div>
</section>
<!-- End Process Section -->
<!-- Team Section -->
<section id="team" class="section-content bg2">
<div class="container">
	<div class="row">
		<!-- Section Title -->
		<div class="section-title item_bottom text-center">
			<div>
				<span class="fa fa-users fa-2x"></span>
			</div>
			<h1>Our <span>Team</span></h1>
		</div>
		<!-- End Section Title -->
	</div>
	<div class="row">
		<div class="col-md-3 col-sm-6 col-xs-12">
			<!-- member 1 -->
			<div class="member_item">
				<div class="member_img">
					<img src="{% static 'images/team/team_member_1.jpg' %}" alt="" class="img-responsive">
				</div>
				<div class="member_descr center">
					<div class="member_name">
						 Jack Smith
					</div>
					<div class="member_post">
						 CEO / Founder
					</div>
					<div class="member_social">
						<a class="facebook" href="#"><i class="fa fa-facebook"></i></a>
						<a class="twitter" href="#"><i class="fa fa-twitter"></i></a>
						<a class="gplus" href="#"><i class="fa fa-google-plus"></i></a>
					</div>
					<div class="member_about">
						 In et massa a massa egestas suscipit tincidunt ut est. Curabitur rutrum faucibus elit, at convallis diam.
					</div>
					<div class="skill-member">
						<ul class="skillBar">
							<li>
							<div class="skillBg">
								<span data-width="80"><strong>Creative 80%</strong></span>
							</div>
							</li>
							<li>
							<div class="skillBg">
								<span data-width="70"><strong>Leadership 70%</strong></span>
							</div>
							</li>
							<li>
							<div class="skillBg">
								<span data-width="90"><strong>Communication 90%</strong></span>
							</div>
							</li>
						</ul>
					</div>
				</div>
			</div>
		</div>
		<div class="col-md-3 col-sm-6 col-xs-12">
			<!-- member 2 -->
			<div class="member_item">
				<div class="member_img">
					<img src="{% static 'images/team/team_member_2.jpg' %}" alt="" class="img-responsive">
				</div>
				<div class="member_descr center">
					<div class="member_name">
						 Jane Smith
					</div>
					<div class="member_post">
						 Manager
					</div>
					<div class="member_social">
						<a class="facebook" href="#"><i class="fa fa-facebook"></i></a>
						<a class="twitter" href="#"><i class="fa fa-twitter"></i></a>
						<a class="gplus" href="#"><i class="fa fa-google-plus"></i></a>
					</div>
					<div class="member_about">
						 In et massa a massa egestas suscipit tincidunt ut est. Curabitur rutrum faucibus elit, at convallis diam.
					</div>
					<div class="skill-member">
						<ul class="skillBar">
							<li>
							<div class="skillBg">
								<span data-width="80"><strong>Creative 90%</strong></span>
							</div>
							</li>
							<li>
							<div class="skillBg">
								<span data-width="70"><strong>Leadership 90%</strong></span>
							</div>
							</li>
							<li>
							<div class="skillBg">
								<span data-width="90"><strong>Communication 75%</strong></span>
							</div>
							</li>
						</ul>
					</div>
				</div>
			</div>
		</div>
		<div class="col-md-3 col-sm-6 col-xs-12">
			<!-- member 3 -->
			<div class="member_item">
				<div class="member_img">
					<img src="{% static 'images/team/team_member_3.jpg' %}" alt="" class="img-responsive">
				</div>
				<div class="member_descr center">
					<div class="member_name">
						 Mike Doe
					</div>
					<div class="member_post">
						 Web Developer
					</div>
					<div class="member_social">
						<a class="facebook" href="#"><i class="fa fa-facebook"></i></a>
						<a class="twitter" href="#"><i class="fa fa-twitter"></i></a>
						<a class="gplus" href="#"><i class="fa fa-google-plus"></i></a>
					</div>
					<div class="member_about">
						 In et massa a massa egestas suscipit tincidunt ut est. Curabitur rutrum faucibus elit, at convallis diam.
					</div>
					<div class="skill-member">
						<ul class="skillBar">
							<li>
							<div class="skillBg">
								<span data-width="80"><strong>Wordpress 80%</strong></span>
							</div>
							</li>
							<li>
							<div class="skillBg">
								<span data-width="70"><strong>PHP 70%</strong></span>
							</div>
							</li>
							<li>
							<div class="skillBg">
								<span data-width="90"><strong>Jquery 70%</strong></span>
							</div>
							</li>
						</ul>
					</div>
				</div>
			</div>
		</div>
		<div class="col-md-3 col-sm-6 col-xs-12">
			<!-- member 4 -->
			<div class="member_item">
				<div class="member_img">
					<img src="{% static 'images/team/team_member_4.jpg' %}" alt="" class="img-responsive">
				</div>
				<div class="member_descr center">
					<div class="member_name">
						 Jane Doe
					</div>
					<div class="member_post">
						 Graphic Designer
					</div>
					<div class="member_social">
						<a class="facebook" href="#"><i class="fa fa-facebook"></i></a>
						<a class="twitter" href="#"><i class="fa fa-twitter"></i></a>
						<a class="gplus" href="#"><i class="fa fa-google-plus"></i></a>
					</div>
					<div class="member_about">
						 In et massa a massa egestas suscipit tincidunt ut est. Curabitur rutrum faucibus elit, at convallis diam.
					</div>
					<div class="skill-member">
						<ul class="skillBar">
							<li>
							<div class="skillBg">
								<span data-width="80"><strong>Photoshop 90%</strong></span>
							</div>
							</li>
							<li>
							<div class="skillBg">
								<span data-width="70"><strong>Illustrator 80%</strong></span>
							</div>
							</li>
							<li>
							<div class="skillBg">
								<span data-width="90"><strong>HTML/CSS 90%</strong></span>
							</div>
							</li>
						</ul>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>
</section>
<!-- End Team Section -->
<!-- Skill Section -->
<div id="skill" class="fullwidth-section parallax">
	<div class="parallax-overlay">
		<div class="container">
			<div class="row text-center item_bottom">
				<h4>Team Skills</h4>
			</div>
			<div class="row new-line">
				<div class="col-md-4 col-sm-4">
					<div class="chart" data-percent="91">
						<span class="percent">91</span>
						<h4>Photoshop</h4>
						<p>
							 Lorem ipsum dolor sit amet, consectetur adipiscing elit.
						</p>
					</div>
				</div>
				<div class="col-md-4 col-sm-4">
					<div class="chart" data-percent="60">
						<span class="percent">60</span>
						<h4>Illustrator</h4>
						<p>
							 Lorem ipsum dolor sit amet, consectetur adipiscing elit.
						</p>
					</div>
				</div>
				<div class="col-md-4 col-sm-4">
					<div class="chart" data-percent="75">
						<span class="percent">75</span>
						<h4>HTML</h4>
						<p>
							 Lorem ipsum dolor sit amet, consectetur adipiscing elit.
						</p>
					</div>
				</div>
				<div class="col-md-4 col-sm-4">
					<div class="chart" data-percent="80">
						<span class="percent">80</span>
						<h4>CSS</h4>
						<p>
							 Lorem ipsum dolor sit amet, consectetur adipiscing elit.
						</p>
					</div>
				</div>
				<div class="col-md-4 col-sm-4">
					<div class="chart" data-percent="65">
						<span class="percent">65</span>
						<h4>jQuery</h4>
						<p>
							 Lorem ipsum dolor sit amet, consectetur adipiscing elit.
						</p>
					</div>
				</div>
				<div class="col-md-4 col-sm-4">
					<div class="chart" data-percent="85">
						<span class="percent">85</span>
						<h4>PHP</h4>
						<p>
							 Lorem ipsum dolor sit amet, consectetur adipiscing elit.
						</p>
					</div>
				</div>
				<div class="clear">
				</div>
			</div>
			<!-- skills end -->
		</div>
	</div>
</div>
<!-- Portfolio Section -->
<section id="portfolio" class="section-content bg3">
<div class="container">
	<div class="row">
		<!-- Section title -->
		<div class="section-title item_bottom text-center">
			<div>
				<span class="fa fa-briefcase fa-2x"></span>
			</div>
			<h1 class="white">Our <span>Works</span></h1>
		</div>
		<!-- End Section title -->
	</div>
	<div class="portfolio-top">
	</div>
	<div id="portfolio-wrap">
		<div id="portfolio-page">
			<div id="portfolio-content">
				<div class="container">
					<div class="row">
						<div id="protfolio-control">
							<div class="row">
								<div class="col-md-4 col-sm-4 col-xs-4">
									<a href="#" id="prev-project" title="Previous Project"><i class="fa fa-arrow-left"></i></a>
								</div>
								<div class="col-md-4 col-sm-4 col-xs-4 text-center">
									<a href="#" id="close-project" title="Close Project"><i class="fa fa-times"></i></a>
								</div>
								<div class="col-md-4 col-sm-4 col-xs-4 text-right">
									<a href="#" id="next-project" title="Next Project"><i class="fa fa-arrow-right"></i></a>
								</div>
							</div>
						</div>
						<!-- End #protfolio-control -->
						<!-- Ajax will load into here -->
						<div id="portfolio-ajax">
						</div>
						<!-- End #portfolio-ajax -->
						<!-- End Ajax -->
					</div>
				</div>
			</div>
			<!-- End #portfolio-content -->
		</div>
		<!-- End #portfolio-page -->
	</div>
	<!-- End #portfolio-wrap -->
	<div id="portfolio-filter">
		<div class="row text-center">
			<div class="col-md-12">
				<!--portfolio category-->
				<ul class="portfolio-filter-list white">
					<li>
					<a class="active" href="#" data-cat="*">ALL</a>
					</li>
					<li>
					<a href="#" data-cat="design">Design</a>
					</li>
					<li>
					<a href="#" data-cat="photo">Photography</a>
					</li>
					<li>
					<a href="#" data-cat="video">Video</a>
					</li>
					<li>
					<a href="#" data-cat="web">Web</a>
					</li>
					<li>
					<a href="#" data-cat="mobile">Mobile</a>
					</li>
				</ul>
				<!--End portfolio category-->
			</div>
			<!-- End .col-md-12 -->
		</div>
		<!-- End .row -->
	</div>
</div>
<!-- End .container -->
<!-- End #portfolio-filter -->
<div class="container">
	<div class="row">
		<div class="col-md-12">
			<div id="portfolio-items" class="portfolio-items item_fade_in">
				<article class="design photo">
        <!-- Popup Image -->
				<a class="cb-img" href="{% static 'images/portfolio/thumb1.jpg' %}">
				<img src="{% static 'images/portfolio/thumb1.jpg' %}" alt="image"/>
				<div class="overlay">
					<div class="item-info">
						<i class="fa fa-camera"></i>
						<h3>Project with single image</h3>
						<span>Design / Photo</span>
					</div>
				</div>
				<!-- End .overlay -->
				</a>
				</article>
				<article class="photo web video">
        <!-- Fullscreen Project Details -->
				<a class="full-page" href="#!projects/project-2.html">
				<img src="{% static 'images/portfolio/thumb2.jpg' %}" alt="image"/>
				<div class="overlay">
					<div class="item-info">
						<i class="fa fa-film"></i>
						<h3>Project with video</h3>
						<span>Photo / Web</span>
					</div>
				</div>
				<!-- End .overlay -->
				</a>
				</article>
				<article class="video design mobile">
        <!-- Fullscreen Project Details -->
				<a class="full-page" href="#!projects/project-4.html">
				<img src="{% static 'images/portfolio/thumb3.jpg' %}" alt="image"/>
				<div class="overlay">
					<div class="item-info">
						<i class="fa fa-camera"></i>
						<h3>Project with single image</h3>
						<span>Design / Video</span>
					</div>
				</div>
				<!-- End .overlay -->
				</a>
				</article>
				<article class="web photo">
        <!-- Fullscreen Project Details -->
				<a class="full-page" href="#!projects/project-3.html">
				<img src="{% static 'images/portfolio/thumb4.jpg' %}" alt="image"/>
				<div class="overlay">
					<div class="item-info">
						<i class="fa fa-picture-o"></i>
						<h3>Project with gallery</h3>
						<span>Web / Photo</span>
					</div>
				</div>
				<!-- End .overlay -->
				</a>
				</article>
				<article class="mobile video">
        <!-- Fullscreen Project Details -->
				<a class="full-page" href="#!projects/project-2.html">
				<img src="{% static 'images/portfolio/thumb5.jpg' %}" alt="image"/>
				<div class="overlay">
					<div class="item-info">
						<i class="fa fa-film"></i>
						<h3>Project with video</h3>
						<span>Mobile</span>
					</div>
				</div>
				<!-- End .overlay -->
				</a>
				</article>
				<article class="photo video">
        <!-- Fullscreen Project Details -->
				<a class="full-page" href="#!projects/project-3.html">
				<img src="{% static 'images/portfolio/thumb6.jpg' %}" alt="image"/>
				<div class="overlay">
					<div class="item-info">
						<i class="fa fa-picture-o"></i>
						<h3>Project with gallery</h3>
						<span>Photo / Video</span>
					</div>
				</div>
				<!-- End .overlay -->
				</a>
				</article>
				<article class="web mobile video">
        <!-- Fullscreen Project Details -->
				<a class="full-page" href="#!projects/project-1.html">
				<img src="{% static 'images/portfolio/thumb7.jpg' %}" alt="image"/>
				<div class="overlay">
					<div class="item-info">
						<i class="fa fa-camera"></i>
						<h3>Project with single image</h3>
						<span>Web / Mobile</span>
					</div>
				</div>
				<!-- End .overlay -->
				</a>
				</article>
				<article class="video photo web design">
        <!-- Popup Image -->
				<a class="cb-img" href="{% static 'images/portfolio/thumb8.jpg' %}">
				<img src="{% static 'images/portfolio/thumb8.jpg' %}" alt="image"/>
				<div class="overlay">
					<div class="item-info">
						<i class="fa fa-camera"></i>
						<h3>Project with single image</h3>
						<span>Video / Photo / Web</span>
					</div>
				</div>
				<!-- End .overlay -->
				</a>
				</article>
				<article class="design photo">
        <!-- Youtube Video -->
				<a class="cb-youtube" href="http://www.youtube.com/v/fyCewvGXsdA">
				<img src="{% static 'images/portfolio/thumb9.jpg' %}" alt="image"/>
				<div class="overlay">
					<div class="item-info">
						<i class="fa fa-camera"></i>
						<h3>Project with single image</h3>
						<span>Design / Photo</span>
					</div>
				</div>
				<!-- End .overlay -->
				</a>
				</article>
				<article class="web photo">
        <!-- Vimeo Video -->
				<a class="cb-vimeo" href="http://player.vimeo.com/video/18312392">
				<img src="{% static 'images/portfolio/thumb10.jpg' %}" alt="image"/>
				<div class="overlay">
					<div class="item-info">
						<i class="fa fa-picture-o"></i>
						<h3>Project with gallery</h3>
						<span>Web / Photo</span>
					</div>
				</div>
				<!-- End .overlay -->
				</a>
				</article>
				<article class="video design mobile">
        <!-- Popup Image -->
				<a class="cb-img" href="{% static 'images/portfolio/thumb11.jpg' %}">
				<img src="{% static 'images/portfolio/thumb11.jpg' %}" alt="image"/>
				<div class="overlay">
					<div class="item-info">
						<i class="fa fa-camera"></i>
						<h3>Project with single image</h3>
						<span>Design / Video</span>
					</div>
				</div>
				<!-- End .overlay -->
				</a>
				</article>
				<article class="photo web video">
				<a class="cb-img" href="{% static 'images/portfolio/thumb12.jpg' %}">
				<img src="{% static 'images/portfolio/thumb12.jpg' %}" alt="image"/>
				<div class="overlay">
					<div class="item-info">
						<i class="fa fa-film"></i>
						<h3>Project with video</h3>
						<span>Photo / Web</span>
					</div>
				</div>
				<!-- End .overlay -->
				</a>
				</article>
			</div>
			<!-- End #portfolio-items.portfolio-items -->
		</div>
	</div>
</div>
</section>
<!-- End Portfolio Section -->
<!-- Clients Section -->
<section id="clients" class="clients parallax">
<div class="parallax-overlay">
	<div class="container">
		<div class="row item_bottom">
			<h4 class="white">What our <strong>clients saying</strong></h4>
			<div class="col-lg-6 col-lg-offset-3 col-md-6 col-md-offset-3 col-sm-8 col-sm-offset-2 col-xs-10 col-xs-offset-1">
				<div class="swiper-testimonial">
					<div class="swiper-wrapper">
						<!--First Slide-->
						<div class="swiper-slide white">
							<p class="quote">
								 "He really care about making unique designs for their clients, and put in incredible effort to make the whole process a real pleasure."
							</p>
							<p class="author">
								 Jak Doe
							</p>
							<p class="company">
								 CEO <a href="#">@Intel</a>
							</p>
						</div>
						<!--Second Slide-->
						<div class="swiper-slide white">
							<p class="quote">
								 "My website couldn't look better after working with the him on the redesign. Now my site and corporate branding is outstanding! He is awesome."
							</p>
							<p class="author">
								 John Doe
							</p>
							<p class="company">
								 Manager <a href="#">@Web Planet</a>
							</p>
						</div>
						<!--Third Slide-->
						<div class="swiper-slide white">
							<p class="quote">
								 "I am incredibly happy with the increased traffic my site has received since working with you! He is the best at this job."
							</p>
							<p class="author">
								 Jane Doe
							</p>
							<p class="company">
								 Owner <a href="#">@Creative Agency</a>
							</p>
						</div>
					</div>
					<!--/ .swiper-wrapper -->
					<div class="pagination-testimonial">
					</div>
					<!--/ swiper slider pagination -->
				</div>
				<!--/ .swiper-testimonial -->
			</div>
		</div>
		<!--/ .row -->
		<div class="row new-line item_fade_in">
			<h4 class="white">Some of our <strong>satisfied clients</strong></h4>
			<div class="carrousel-container">
				<div id="left_scroll">
					<a href=""></a>
				</div>
				<div id="carousel_inner">
					<ul class="clearfix" id="carousel_ul">
						<li><span><img src="{% static 'images/clients/twitter.png' %}" alt="Twitter"></span></li>
						<li><span><img src="{% static 'images/clients/magento.png' %}" alt="magento"></span></li>
						<li><span><img src="{% static 'images/clients/mailchimp.png' %}" alt="mailchimp"></span></li>
						<li><span><img src="{% static 'images/clients/nexternal.png' %}" alt="nexternal"></span></li>
						<li><span><img src="{% static 'images/clients/wordpress.png' %}" alt="wordpress"></span></li>
						<li><span><img src="{% static 'images/clients/google.png' %}" alt="google"></span></li>
					</ul>
				</div>
				<div id="right_scroll">
					<a href=""></a>
				</div>
				<input type="hidden" id="hidden_auto_slide_seconds" value=0/>
			</div>
		</div>
		<!--/ .row -->
	</div>
</div>
</section>
<!-- End Clients Section -->
<!-- Pricing Section -->
<section id="pricing" class="section-content bg1">
<div class="container">
	<div class="row">
		<!-- Section title -->
		<div class="section-title item_bottom text-center">
			<div>
				<span class="fa fa-road fa-2x"></span>
			</div>
			<h1>Our <span>Packages</span></h1>
		</div>
		<!-- End Section title -->
	</div>
	<div class="row package-container">
		<div class="col-md-4 col-sm-4 item_left">
			<div aria-controls="package1" class="package">
				<h3>Silver</h3>
				<div class="price">
					<span class="currency">$</span><span class="amt">295</span><span class="mo">/yr</span>
					<p>
						 Pay yearly or $30 per month
					</p>
				</div>
			</div>
		</div>
		<div class="col-md-4 col-sm-4 item_bottom">
			<div aria-controls="package2" class="package package-active">
				<h3>Gold</h3>
				<div class="price">
					<span class="currency">$</span><span class="amt">495</span><span class="mo">/yr</span>
					<p>
						 Pay yearly or $50 per month
					</p>
				</div>
			</div>
		</div>
		<div class="col-md-4 col-sm-4 item_right">
			<div aria-controls="package3" class="package">
				<h3>Platinum</h3>
				<div class="price">
					<span class="currency">$</span><span class="amt">995</span><span class="mo">/yr</span>
					<p>
						 Pay yearly or $99 per month
					</p>
				</div>
			</div>
		</div>
	</div>
	<div class="row packages item_bottom">
		<!-- Package 1 -->
		<div id="package1" class="package-hide">
			<div class="col-md-4 col-sm-4 text-center">
				<h2>Silver Package</h2>
				<p>
					For small sites
				</p>
				<a class="btn btn-dark" href="#">
				Signup </a>
			</div>
			<div class="col-md-4 col-sm-4">
				<p>
					Lorem ipsum dolor sit amet consectetuer lacus ridiculus ipsum Morbi augue. Quis justo ante orci libero velit Nullam hendrerit neque nibh tristique. Molestie amet ornare vitae Vestibulum orci ut quis vitae Curabitur lacus.
				</p>
			</div>
			<div class="col-md-4 col-sm-4">
				<ul class="fa-ul">
					<li>logo design concepts</li>
					<li>Limited logo revisions</li>
					<li>Limited pages revisions</li>
					<li>24/7 customer support</li>
				</ul>
			</div>
		</div>
		<!-- ./Package 1 -->
		<!-- Package 2 -->
		<div id="package2" class="package-show">
			<!-- Default package show -->
			<div class="col-md-4 col-sm-4 text-center">
				<h2>Gold Package</h2>
				<p>
					Our best price for developer
				</p>
				<a class="btn btn-dark" href="#">
				Signup </a>
			</div>
			<div class="col-md-4 col-sm-4">
				<p>
					Lorem ipsum dolor sit amet consectetuer lacus ridiculus ipsum Morbi augue. Quis justo ante orci libero velit Nullam hendrerit neque nibh tristique. Molestie amet ornare vitae Vestibulum orci ut quis vitae Curabitur lacus.
				</p>
			</div>
			<div class="col-md-4 col-sm-4">
				<ul class="fa-ul">
					<li>logo design concepts</li>
					<li>Limited logo revisions</li>
					<li>Copyright ownership to the final Logo</li>
					<li>Limited pages revisions</li>
					<li>24/7 customer support</li>
				</ul>
			</div>
		</div>
		<!-- ./Package 2 -->
		<!-- Package 3 -->
		<div id="package3" class="package-hide">
			<div class="col-md-4 col-sm-4 text-center">
				<h2>Platinum Package</h2>
				<p>
					For ecommerce &amp; business
				</p>
				<a class="btn btn-dark" href="#">
				Signup </a>
			</div>
			<div class="col-md-4 col-sm-4">
				<p>
					Lorem ipsum dolor sit amet consectetuer lacus ridiculus ipsum Morbi augue. Quis justo ante orci libero velit Nullam hendrerit neque nibh tristique. Molestie amet ornare vitae Vestibulum orci ut quis vitae Curabitur lacus.
				</p>
			</div>
			<div class="col-md-4 col-sm-4">
				<ul class="fa-ul">
					<li>logo design concepts</li>
					<li>Unlimited logo revisions until you are completely satisfied</li>
					<li>Copyright ownership to the final Logo</li>
					<li>Unlimited pages revisions until you are completely satisfied</li>
					<li>24/7 customer support</li>
				</ul>
			</div>
		</div>
		<!-- ./Package 3 -->
	</div>
</div>
</section>
<!-- End Pricing Section -->
<!-- Blog Section -->
<section id="blog" class="section-content bg2">
<div class="container">
	<div class="row">
		<!-- Section title -->
		<div class="section-title item_bottom text-center">
			<div>
				<span class="fa fa-book fa-2x"></span>
			</div>
			<h1>Our <span>Blog</span></h1>
		</div>
		<!-- End Section title -->
	</div>
	<div class="row">
		<ul class="timeline list-unstyled">
			<!-- History Year -->
			<li class="title"><i class="fa fa-pencil"></i></li>
			<li class="note item_right">
			<h3>Simple Slider Post</h3>
			<span class="date"><i class="fa fa-clock-o"></i> 23, DEC 2013</span>
			<div class="flexslider">
				<ul class="slides">
					<!-- Blog post slide1 -->
					<li>
					<a href="single.html"><img class="img-center img-responsive" src="{% static 'images/blog/blog-slide1.jpg' %}" alt=""/></a>
					</li>
					<!-- Blog post slide2 -->
					<li>
					<a href="single.html"><img class="img-center img-responsive" src="{% static 'images/blog/blog-slide2.jpg' %}" alt=""/></a>
					</li>
				</ul>
			</div>
			<p class="desc">
				 Lorem Ipsum roin gravida nibh vel velit auctor aliquet. Aenean sollicitudin, lorem quis bibendum auctor, nisi elit consequat.
			</p>
			<div>
				<a class="btn btn-default pull-left" href="single.html">Read more</a>
			</div>
			<span class="arrow fa fa-play"></span>
			</li>
			<li class="note item_left">
			<h3>Simple Image Post</h3>
			<span class="date"><i class="fa fa-clock-o"></i> 09, JUN 2012</span>
			<a href="single.html"><img alt="" class="img-responsive" src="{% static 'images/blog/blog-thumb1.jpg' %}"></a>
			<p class="desc">
				 Lorem Ipsum roin gravida nibh vel velit auctor aliquet. Aenean sollicitudin, lorem quis bibendum auctor, nisi elit consequat.
			</p>
			<div>
				<a class="btn btn-default pull-left" href="single.html">Read more</a>
			</div>
			<span class="arrow fa fa-play"></span>
			</li>
			<li class="note item_right">
			<h3>Simple Video Post</h3>
			<span class="date"><i class="fa fa-clock-o"></i> 12, Jan 2012</span>
			<div class="media-container">
				<iframe src="http://player.vimeo.com/video/18312392" style="border:0px;">
				</iframe>
			</div>
			<p class="desc">
				 Lorem Ipsum roin gravida nibh vel velit auctor aliquet. Aenean sollicitudin, lorem quis bibendum auctor, nisi elit consequat. Photoshop's version of Lorem Ipsum. Proin gravida nibh vel velit auctor aliquet. Aenean sollicitudin, quis bibendum auctor, nisi elit consequat.
			</p>
			<div>
				<a class="btn btn-default pull-left" href="single.html">Read more</a>
			</div>
			<span class="arrow fa fa-play"></span>
			</li>
			<li class="note item_left">
			<h3>Without Media Post</h3>
			<span class="date"><i class="fa fa-clock-o"></i> 13, Jan 2012</span>
			<p class="desc">
				 Lorem Ipsum roin gravida nibh vel velit auctor aliquet. Aenean sollicitudin, lorem quis bibendum auctor, nisi elit consequat. Proin gravida nibh vel velit auctor aliquet. Aenean sollicitudin, lorem quis bibendum auctor, nisi elit consequat.
			</p>
			<div>
				<a class="btn btn-default pull-left" href="single.html">Read more</a>
			</div>
			<span class="arrow fa fa-play"></span>
			</li>
			<!-- Start icon -->
			<li class="start"><a href="blog.html">View all</a></li>
			<li class="clear"></li>
		</ul>
	</div>
</div>
</section>
<!-- End Blog Timeline Section -->
<div class="fullwidth-section bg-callout">
	<div class="container">
		<div class="col-md-12 text-center item_bottom">
			<h1 class="white padBottom killMargin"><strong>Identity</strong> is clean and professional theme for you !</h1>
			<p>
				 would you like to join us?
			</p>
			<div>
				<a href="#" class="btn btn-light">PURCHASE</a>
			</div>
		</div>
	</div>
</div>