{% load static %}

<!DOCTYPE html>
<html lang="en-US" class="no-js">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
<meta name="viewport" content="target-densitydpi=device-dpi, initial-scale=1.0, user-scalable=no"/>
<meta name="description" content="flowsurf"/>
<meta name="author" content="flowsurf">
<title>flowsurf</title>
<!-- Favicons -->
<!-- List of Stylesheet -->
<link type='text/css' href="{% static 'css/plugins.css' %}" rel="stylesheet">
<link type='text/css' href="{% static 'css/bootstrap.min.css' %}" rel="stylesheet">
<link type='text/css' href="{% static 'css/style.css' %}" rel="stylesheet">
<link type='text/css' href="{% static 'css/style-responsive.css' %}" rel="stylesheet">
<!-- Google Font -->
<link href='https://fonts.googleapis.com/css?family=Source+Sans+Pro:400,600,700,400italic,600italic,700italic|Oswald:400,300,700' rel='stylesheet' type='text/css'>
<script type="text/javascript" src="{% static 'js/scripts-top.js' %}"></script>
<!-- HTML5 shim and Respond.js IE8 support of HTML5 elements and media queries -->
<!--[if lt IE 9]>
          <script src="js/html5shiv.js"></script>
          <script src="js/respond.min.js"></script>
        <![endif]-->
<!-- HTML5 shim and Respond.js IE8 support of HTML5 elements and media queries -->
</head>
<body>
<!-- Pre-loader -->
<div class="mask">
	<div id="intro-loader">
	</div>
</div>
<!-- End Pre-loader -->
<!-- Navbar -->
<!-- Navigation -->
<div class="navbar navbar-fixed-top">
	<nav id="navigation-sticky" class="trans-nav">
	<!-- Navigation Inner -->
	<div class="container inner">
		<div class="logo">
			<!-- Navigation Logo Link -->
			<a href="#home" class="scroll">
			<!-- Your Logo -->
			<div class='section-title'>
				<h1 class='white' style="line-height: 1.2; margin-top: 0; margin-bottom: 0;">flow<span>surf</span></h1>
			</div>
			</a>
		</div>
		<!-- Mobile Menu Button -->
		<a class="mobile-nav-button"><i class="fa fa-bars"></i></a>
		<!-- Navigation Menu -->
		<div class="nav-menu">
			<ul class="nav">
				<li>
				<a href="#home">Home</a>
				</li>
				<li>
				<a href="#about">About</a>
				</li>
				<li>
				<a href="#services">Do you want to</a>
				</li>
				<li>
					<a href="#process">Process</a>
				</li>
				<li>
				<a href="#contact">Contact</a>
				</li>
			</ul>
		</div>
		<!-- End Navigation Menu -->
	</div>
	<!-- End Navigation Inner -->
	</nav>
	<!-- End Navigation -->
</div>
<!-- End Navbar -->
<!-- Home Section -->
<section id="home">
<div id="fullscreen-slider">
	<div class="slides-container">
		<!-- Slider image list-->
		<img src="{% static 'images/slider/slide1.jpg' %}" alt="">
		<img src="{% static 'images/slider/slide2.jpg' %}" alt="">
		<img src="{% static 'images/slider/slide3.jpg' %}" alt="">
		<!-- End Slider list-->
	</div>
</div>
<div class="slide-content grad_bg">
	<div class="text-center">
		<!-- Text Rotator -->
		<div id="header-title" class="owl-carousel">
			<!-- Start rotate item -->
			<div class="item">
				<div class="header">
					<div class="box-heading">
						<div class="box-inner">
							be inspired
						</div>
					</div>
					<div class="heading">
						 touch flowsurf
					</div>
				</div>
			</div>
			<!-- End rotate item -->
			<!-- Start rotate item -->
			<div class="item">
				<div class="header">
					<div class="box-heading">
						<div class="box-inner">
							 own your business
						</div>
					</div>
					<div class="heading">
						 experience flowsurf
					</div>
				</div>
			</div>
			<!-- End rotate item -->
			<!-- Start rotate item -->
			<div class="item">
				<div class="header">
					<div class="box-heading">
						<div class="box-inner">
							grow & thrive
						</div>
					</div>
					<div class="heading">
						 taste flowsurf
					</div>
				</div>
			</div>
			<!-- End rotate item -->
		</div>
		<!-- End Text Rotator -->
	</div>
</div>
</section>
<!-- Home Section -->
<!-- About Section -->
<section id="about" class="section-content killPadding bg1">
<div class="container">
	<div class="row">
		<!-- Section Title -->
		<div class="section-title item_bottom text-center">
			<div>
				<span class="fa fa-bank fa-2x"></span>
			</div>
			<h1>About <span>flowsurf</span></h1>
		</div>
		<!-- End Section Title -->
	</div>
	<div class="row">
		<div class="col-md-12">
			<div class="media-container padTop">
				<iframe src="//www.youtube.com/embed/_oYii8mZmLM?rel=0" frameborder="0" allowfullscreen></iframe>
			</div>
		</div>
	</div>
	<hr>
	<div class="row">
		<div class="col-md-6 feature-content text-center item_bottom">
			<div class="icon-box">
				<i class="fa fa-lightbulb-o fa-5x"></i>
			</div>
			<h4>Coaching</h4>
			Flowsurf offers deep transformative coaching programs 1on1 and in groups
		</div>
		<div class="col-md-6 feature-content text-center item_top">
			<div class="icon-box">
				<i class="fa fa-flash fa-5x"></i>
			</div>
			<h4>Workshops</h4>
			We provide empowering workshops and online courses to help you be and express the gift that you are
		</div>
	</div>
	<!-- <div class="row">
		<hr>
		<div class="col-md-12 new-line text-center">
			<div class="slider-container item_bottom">
				<div class="swiper-about">
					<div class="swiper-wrapper">
						<div class="swiper-slide">
							<img src="{% static 'images/about/slide1.jpg' %}" class="img-responsive" alt="slide1"/>
						</div>
						<div class="swiper-slide">
							<img src="{% static 'images/about/slide2.jpg' %}" class="img-responsive" alt="slide2"/>
						</div>
						<div class="swiper-slide">
							<img src="{% static 'images/about/slide3.jpg' %}" class="img-responsive" alt="slide3"/>
						</div>
					</div>
					<div class="pagination-about">
					</div>
				</div>
			</div>
		</div>
	</div> -->
</div>
</section>
<!-- End About Section -->
<!-- Number Section -->
<!-- <div id="number" class="fullwidth-section parallax">
	<div class="parallax-overlay">
		<div class="container">
			<div class="row number-counters white item_bottom">
				<div class="col-md-3 col-sm-6 col-xs-12 text-center">
					<div class="counters-item">
						<i class="fa fa-group fa-3x"></i>
						<strong data-to="349">0</strong>
						<p>
							 Happy Clients
						</p>
					</div>
				</div>
				<div class="col-md-3 col-sm-6 col-xs-12 text-center">
					<div class="counters-item">
						<i class="fa fa-trophy fa-3x"></i>
						<strong data-to="96">0</strong>
						<p>
							 Awards Won
						</p>
					</div>
				</div>
				<div class="col-md-3 col-sm-6 col-xs-12 text-center">
					<div class="counters-item">
						<i class="fa fa-thumbs-up fa-3x"></i>
						<strong data-to="1020">0</strong>
						<p>
							 Projects Done
						</p>
					</div>
				</div>
				<div class="col-md-3 col-sm-6 col-xs-12 text-center">
					<div class="counters-item">
						<i class="fa fa-coffee fa-3x"></i>
						<strong data-to="6454">0</strong>
						<p>
							 Cups Coffee
						</p>
					</div>
				</div>
			</div>
		</div>
	</div>
</div> -->
<!-- End Number Section -->
<!-- <section class="section-content bg1">
<div class="container">
	<div class="row new-line">
		<div class="col-md-6 item_left">
			<div class="flexslider">
				<ul class="slides">
					<li>
					<img class="img-center img-responsive" src="{% static 'images/blog/blog-slide1.jpg' %}" alt=""/>
					</li>
					<li>
					<img class="img-center img-responsive" src="{% static 'images/blog/blog-slide2.jpg' %}" alt=""/>
					</li>
				</ul>
			</div>
		</div>
		<div class="col-md-6 item_right">
			<h2 class="reduceMargin-top">Why we suggest IDENTITY?</h2>
			<p>
				 Nam quam nunc, blandit vel, luctus pulvinar, hendrerit id, lorem. Maecenas nec odio et ante tincidunt tempus. Donec vitae sapien ut libero venenatis faucibus. Nullam quis ante. Etiam sit amet orci eget eros.
			</p>
			<div class="clearfix" id="accordion-second">
				<div class="accordion">
					<div class="accordion-group">
						<div class="accordion-heading">
							<a href="#collapseOne" data-parent="#accordion2" data-toggle="collapse" class="accordion-toggle collapsed">
							<em class="icon-fixed-width fa fa-plus"></em>Identity is fully responsive and perfectly fits on all devices. </a>
						</div>
						<div class="accordion-body collapse" id="collapseOne">
							<div class="accordion-inner">
								 Nam quam nunc, blandit vel, luctus pulvinar, hendrerit id, lorem. Maecenas nec odio et ante tincidunt tempus. Donec vitae sapien ut libero venenatis faucibus. Nullam quis ante. Etiam sit amet orci eget eros.
							</div>
						</div>
					</div>
					<div class="accordion-group">
						<div class="accordion-heading">
							<a href="#collapseTwo" data-parent="#accordion2" data-toggle="collapse" class="accordion-toggle collapsed">
							<em class="icon-fixed-width fa fa-plus"></em>Identity is Elegent One page Multipurpose Template. </a>
						</div>
						<div class="accordion-body collapse" id="collapseTwo">
							<div class="accordion-inner">
								 Nam quam nunc, blandit vel, luctus pulvinar, hendrerit id, lorem. Maecenas nec odio et ante tincidunt tempus. Donec vitae sapien ut libero venenatis faucibus. Nullam quis ante. Etiam sit amet orci eget eros.
							</div>
						</div>
					</div>
					<div class="accordion-group">
						<div class="accordion-heading">
							<a href="#collapseThree" data-parent="#accordion2" data-toggle="collapse" class="accordion-toggle collapsed">
							<em class="fa fa-plus icon-fixed-width"></em>Identity contains 439 Retina Ready Font Awesome icons. </a>
						</div>
						<div class="accordion-body collapse" id="collapseThree">
							<div class="accordion-inner">
								 Nam quam nunc, blandit vel, luctus pulvinar, hendrerit id, lorem. Maecenas nec odio et ante tincidunt tempus. Donec vitae sapien ut libero venenatis faucibus. Nullam quis ante. Etiam sit amet orci eget eros.
							</div>
						</div>
					</div>
					<div class="accordion-group">
						<div class="accordion-heading">
							<a href="#collapseFour" data-parent="#accordion2" data-toggle="collapse" class="accordion-toggle collapsed">
							<em class="fa fa-plus icon-fixed-width"></em>Identity is Powerful Admin Panel </a>
						</div>
						<div class="accordion-body collapse" id="collapseFour">
							<div class="accordion-inner">
								 Nam quam nunc, blandit vel, luctus pulvinar, hendrerit id, lorem. Maecenas nec odio et ante tincidunt tempus. Donec vitae sapien ut libero venenatis faucibus. Nullam quis ante. Etiam sit amet orci eget eros.
							</div>
						</div>
					</div>
					<div class="accordion-group">
						<div class="accordion-heading">
							<a href="#collapseFive" data-parent="#accordion2" data-toggle="collapse" class="accordion-toggle collapsed">
							<em class="fa fa-plus icon-fixed-width"></em>Identity comes with nice Color Schemes </a>
						</div>
						<div class="accordion-body collapse" id="collapseFive">
							<div class="accordion-inner">
								 Nam quam nunc, blandit vel, luctus pulvinar, hendrerit id, lorem. Maecenas nec odio et ante tincidunt tempus. Donec vitae sapien ut libero venenatis faucibus. Nullam quis ante. Etiam sit amet orci eget eros.
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
	<div class="row new-line">
		<hr>
		<div class="col-md-6 item_left">
			<h2 class="reduceMargin-top">Why you choose IDENTITY?</h2>
			<p>
				 Lorem ipsum dolor sit amet consectetuer wisi felis tempus elit et. Nunc penatibus id pulvinar a quis morbi elit est nec porta. In leo sodales vel leo tincidunt aliquet tempor sem gravida gravida.
			</p>
			<p>
				 Malesuada facilisis laoreet at ipsum et justo et Vestibulum mus Lorem. Nunc enim eros suscipit Aliquam leo Vestibulum Mauris ipsum feugiat ut. Velit Sed turpis In nunc ut interdum eget Nunc aliquet Curabitur. Senectus laoreet condimentum magna lacus elit habitant ante Vestibulum nec pellentesque. Congue laoreet lorem congue ac justo.
			</p>
			<a href="#" class="btn btn-dark">Read More</a>
		</div>
		<div class="col-md-6 item_right">
			<div class="media-container padTop">
				<iframe src="http://player.vimeo.com/video/18312392" style="border:0px;">
				</iframe>
			</div>
		</div>
	</div>
</div>
</section> -->
<!-- Service Section -->
<section id="services" class="section-content bg2">
<div class="container">
	<div class="row">
		<!-- Section title -->
		<div class="section-title item_bottom text-center">
			<div>
				<span class="fa fa-cubes fa-2x"></span>
			</div>
			<h1>Do you <span>want to</span></h1>
		</div>
		<!-- End Section title -->
	</div>
	<div class="row services">
		<!-- Service -->
		<div class="col-md-6 col-sm-6 services-box item_left">
			<div class="services-box-icon">
				<i class="fa fa-smile-o fa-3x"></i>
			</div>
			<div class="service-box-info">
				<p>
					Share your gift with the world &</br>
					Remain curious, explorative and adventurous throughout your journey
				</p>
			</div>
		</div>
		<!-- End Service -->
		<!-- Service -->
		<div class="col-md-6 col-sm-6 services-box item_bottom">
			<div class="services-box-icon">
				<i class="fa fa-heart-o fa-3x"></i>
			</div>
			<div class="service-box-info">
				<p>
					Participate in massive positive cultural change &</br>
					Cultivate deeply fulfilling relationships with others
				</p>
			</div>
		</div>
		<!-- End Service -->
		<!-- Service -->
		<div class="col-md-6 col-sm-6 services-box item_right">
			<div class="services-box-icon">
				<i class="fa fa-leaf fa-3x"></i>
			</div>
			<div class="service-box-info">
				<p>
					Respect and care for the planet, all people and yourself &</br>
					Work fully engaged towards your passionate care
				</p>
			</div>
		</div>
		<!-- End Service -->
		<!-- Service -->
		<div class="col-md-6 col-sm-6 services-box item_left">
			<div class="services-box-icon">
				<i class="fa fa-link fa-3x"></i>
			</div>
			<div class="service-box-info">
				<p>
					Embrace chaos and adversity on your way to deliver great value for others &</br>
					Remain optimistic and courageous in the face of challenge
				</p>
			</div>
		</div>
		<!-- End Service -->
	</div>
</div>
</section>
<!-- End About Section -->
<!-- Process Section -->
<section id="process" class="section-content bg3">
<div class="container">
	<div class="row">
		<!-- Section title -->
		<div class="section-title item_bottom text-center">
			<div>
				<span class="fa fa-cogs fa-2x"></span>
			</div>
			<h1 class="white">Our <span>Process</span></h1>
		</div>
		<!-- End Section title -->
		<ol class="process-flow list-unstyled">
			<li class="active">
			<div class="process-node active">
				<i class="fa fa-comments"></i>
			</div>
			<h4>Explorative conversation</h4>
			<p>
				 Who are you really becoming? What do you truly want to create? What's holding you back?
			</p>
			<div class="line">
				<div class="progress">
				</div>
			</div>
			</li>
			<li class="active">
			<div class="process-node active">
				<i class="fa fa-lightbulb-o"></i>
			</div>
			<h4>Journey design</h4>
			<p>
				 Creating a powerful alliance. A safe space to grow into greatness.
			</p>
			<div class="line">
				<div class="progress">
				</div>
			</div>
			</li>
			<li class="active">
			<div class="process-node active">
				<i class="fa fa-desktop"></i>
			</div>
			<h4>Metabolize & Navigate</h4>
			<p>
				 Preparing for bigger games. At the razors edge of tenderness, clarity and truth.
			</p>
			<div class="line">
				<div class="progress">
				</div>
			</div>
			</li>
			<li class="active">
			<div class="process-node active">
				<i class="fa fa-flash"></i>
			</div>
			<h4>Let's go!</h4>
			<p>
				 Joyfully playing a game of passion, courage and service to others. A great way to live!
			</p>
			<div class="line">
				<div class="progress">
				</div>
			</div>
			</li>
			<li class="active">
			<div class="process-node active">
				<i class="fa fa-rocket"></i>
			</div>
			<h4>Stay on the edge</h4>
			<p>
				 Creating exponential impact whilst maintaining peace of mind and nurturing surroundings.
			</p>
			</li>
		</ol>
	</div>
</div>
</section>

<!-- Clients Section -->
<section id="clients" class="clients parallax">
<div class="parallax-overlay">
	<div class="container">
		<div class="row item_bottom">
			<h4 class="white">What the <strong>clients saying</strong></h4>
			<div class="col-lg-6 col-lg-offset-3 col-md-6 col-md-offset-3 col-sm-8 col-sm-offset-2 col-xs-10 col-xs-offset-1">
				<div class="swiper-testimonial">
					<div class="swiper-wrapper">
						<!--First Slide-->
						<div class="swiper-slide white">
							<p class="quote">
								 "K is a real game changer.. He listens and provides clear, concise, actionable feedback based on real world experience and insight. His real power lies in just that; he allows you to realize the power which already resides within you. Cutting no corners and pulling no punches, he provides excellent actions steps, mindsets, and positivity..all while making it fun and keeping growth and staying true to oneself as top priority. I am truly grateful to have crossed paths on the journey and have him as a coach!"
							</p>
							<p class="author">
								 Conor Welch
							</p>
							<p class="company">
								Washington DC
							</p>
						</div>
						<!--Second Slide-->
						<div class="swiper-slide white">
							<p class="quote">
								 "Kjetil has a unique gift that spans many areas. Working with Kjetil helped give me total clarity around my business and helped reinforce my strengths and identify what is required to reach the next level. Would wholly recommend Kjetils coaching."
							</p>
							<p class="author">
								 Dan J Gregory
							</p>
							<p class="company">
								 Creator of <a target="_blank" href="http://www.danjgregory.com">The 9-5 Escape Plan</a>
							</p>
						</div>
						<!--Third Slide-->
						<div class="swiper-slide white">
							<p class="quote">
								 "Not many people in this world has the knowledge, power and capability to walk on a stage and make every single one in the room forget about everything but what's going on "right here, right now". In addition to that, Kjetil also manages to connect to every single one in his audience during his talks. Kjetil is an inspiring, creative and positive coach, mentor, and speaker. He has a rare characteristic ability to make people solve problems they haven't been able to solve earlier by asking the right questions. Kjetil has helped both me and others around me solve difficult situations and I feel lucky to have worked with him."
							</p>
							<p class="author">
								 Elin Nørve
							</p>
							<p class="company">
								 Innovation Liberator at <a href="http://www.inneox.com" target="_blank">INNEOX</a>
							</p>
						</div>
					</div>
					<!--/ .swiper-wrapper -->
					<!--/ swiper slider pagination -->
				</div>
				<!--/ .swiper-testimonial -->
			</div>
		</div>
		<!--/ .row -->
	</div>
</div>
</section>
<!-- End Clients Section -->

<!-- Contact Section -->
<section id="contact" class="section-content bg2">
<div class="container">
	<div class="row">
		<!-- Section title -->
		<div class="section-title item_bottom text-center">
			<div>
				<span class="fa fa-envelope fa-2x"></span>
			</div>
			<h1>Get in <span>touch</span></h1>
		</div>
		<!-- End Section title -->
	</div>
	<div class="row item_fade_in">
		<div class="col-md-6 col-md-offset-3 text-center contact-block">
			<!-- Contact Details -->
			<i class="fa fa-map-marker fa-3x"></i>
			<p>
				 Kjøpmannsgata 36 <br>
				 7011, Trondheim, Norway
			</p>
			<p>
				 +47 414 52 640
			</p>
			<!-- End Contact Details -->
			<!-- Social Icon -->
			<div class="social-icon">
				<a href="#"><i class="fa fa-facebook-square fa-3x"></i></a>
				<a href="#"><i class="fa fa-twitter-square fa-3x"></i></a>
				<a href="#"><i class="fa fa-google-plus-square fa-3x"></i></a>
				<a href="#"><i class="fa fa-linkedin-square fa-3x"></i></a>
				<a href="#"><i class="fa fa-pinterest-square fa-3x"></i></a>
				<a href="#"><i class="fa fa-vimeo-square fa-3x"></i></a>
			</div>
			<!-- End Social Icon -->
		</div>
	</div>
	<div class="row item_fade_in">
		<h4 class="text-center">Get in touch!</h4>
		<div class="col-md-6 col-md-offset-3">
			<div class="form-respond text-center">
			</div>
			<form id="contactform" class="form validate item_bottom" role="form">
				{% csrf_token %}
				<div class="form-group">
					<input type="text" name="name" id="name" class="form-control required" placeholder="Name">
				</div>
				<div class="form-group">
					<input type="email" name="email" id="email" class="form-control required email" placeholder="Email">
				</div>
				<div class="form-group">
					<input type="text" name="phone" id="phone" class="form-control" placeholder="Phone">
				</div>
				<div class="form-group">
					<textarea name="message" id="message" class="form-control input-lg required" rows="9" placeholder="Enter Message"></textarea>
				</div>
				<div class="form-group text-center">
					<input type="submit" id="contactForm_submit" class="btn btn-trans btn-border btn-full" value="Submit">
				</div>
				<!-- antispam code -->
				<div class="antispam">
					<input type="text" value="" name="url"/>
				</div>
			</form>
		</div>
	</div>
	<!-- End form contact -->
</div>
</section>
<!-- End Contact Section -->
<!-- Google maps -->
<div id="map_canvas" class="item_fade_in">
</div>
<!-- End Google maps -->
<footer class="text-center">
<!-- Footer Text -->
<div class="container text-center item_top">
	&copy; Copyright flowsurf 2014. All Rights Reserved.
</div>
<!-- End Footer Text -->
</footer>
<!-- Back to top -->
<a href="#" id="back-top"><i class="fa fa-angle-up fa-2x"></i></a>
<!-- Js Library -->
<script type="text/javascript" src="{% static 'js/scripts-bottom.js' %}"></script>
<script type="text/javascript" src="{% static 'js/bootstrap.min.js' %}"></script>
<script type="text/javascript" src="{% static 'js/jquery.isotope.min.js' %}"></script>
<script type="text/javascript" src="{% static 'js/jquery.sticky.js' %}"></script>
<script type="text/javascript" src="{% static 'js/jquery.nicescroll.min.js' %}"></script>
<script type="text/javascript" src="{% static 'js/jquery.flexslider.min.js' %}"></script>
<script type="text/javascript" src="{% static 'js/jquery.validate.min.js' %}"></script>
<script type="text/javascript" src="//maps.googleapis.com/maps/api/js?sensor=false"></script>
<script type="text/javascript" src="{% static 'js/gmap-settings.js' %}"></script>
<script type="text/javascript" src="{% static 'django_ajax/js/jquery.ajax.min.js' %}"></script>
<script type="text/javascript" src="{% static 'js/script.js' %}"></script>
<!-- Js Library -->
</body>
</html>